<h1>Update Pet</h1>

Edit <%= @pet.name %>

<form action="/pets/<%= @pet.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Edit Pet's Name</label>
  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
  <br>
</form>
