<h1>Create a new Pet</h1>

<form action="/pets" method="POST">
  <label>Pet Name:</label>
  <br>
  <input type="text" name="pet_name">
  <label>Existing Owners:</label>
  <% @owners.all do |owner| %>
    <input type="radio" id="<%=owner.id%>" value="<%=owner.id%>" name="<%owner.id%>"><%=owner.name%></input>
    <br>
  <% end %>

  <input type="submit" value="Create Pet">
</form>


<input type="radio" id="louie" name="drone" value="louie">
<label for="louie">Louie</label>
